body{
    font-family: 'Spartan', sans-serif;
    margin: 0%;
    padding: 0%;
}


/* -------------------1st part---------------- */
.second-part{
    height: 1200px;
    width: 100%;
}

.half-width{
    width: 30%;
    float: left;
    margin-left: 5%;
    padding: 5%;
   
}

.half-width img{
    width: 100%;
    padding-left: 20%;
    
}

.bold-text {
    color: rgb(47, 20, 199);
    font-weight: 600; 
    font-size: 50px;
}

#name {
    color: tomato;
    font-weight: bold;
    font-size: 50px;
}

p{
    color: dimgray;
    padding-bottom: 15px;
}

.button{
    background-image: linear-gradient(90deg,rgb(104, 83, 223),rgb(47, 20, 199));
    color: white;
    text-decoration: none;
    margin-top: 10px;
    padding: 15px 30px;
    border-radius: 10px;
    
}

/* -------------------2nd part---------------- */
.second-part{
    height: 1200px;
    width: 100%;
}

#image2{
    padding-left:0px;
}
.h2-text{
    color: rgb(47, 20, 199);;
    font-weight: 700;
    font-size: 40px;
}

/* ----------------3rd part-------------------*/
.third-div{
    
    height: 600px;
    background-color: rgb(213, 213, 213);
    padding: 7%;
}

.third-title-span{
    color:tomato;
    
}
.third-title{
    /* padding: 10px; */
    color:  rgb(47, 20, 199);
    font-weight: 700;
    font-size: 50px;
    text-align: center;   
}

.box-model{
    margin: 15px;
    padding: 15px;
    height: 400px;
    width: 28%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 20px grey;
    float: left;
}

.box-model img{
    
    height: 200px;
    width: 100%;
}

.box-title{
    font-size: 20px;
    font-weight:700 ;
}

/* -------------------------------4th part------------------------------- */

.inquiry-box {
    margin: 15% 15%;
    height: 250px;
    border-radius: 20px;
    background-image: url("images/work.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;
}


.inquiry-box h1{
    font-size: 40px;
    font-weight: 700;
    color:white;
    padding:5%;
    display: inline-block;
}

#inquiry-button{
    margin-left: 35%;
    background-image: linear-gradient(90deg,rgb(223, 144, 83),rgb(243, 122, 8));
}